<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sinchana.plantapp">

    <application
        android:allowBackup="true"
        android:label="Bloomopedia"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- 🌸 ABOUT SCREEN -->
        <activity android:name=".AboutActivity" />

        <!-- 🌸 FLOWER DETAIL SCREEN -->
        <activity android:name=".FlowerDetailActivity" />

        <!-- 🌸 FLOWER LIST SCREEN -->
        <activity android:name=".FlowerListActivity" />

        <!-- 🌸 CATEGORY SCREEN -->
        <activity android:name=".CategoryActivity" />

        <!-- 🌸 MAIN SCREEN (LAUNCHER) -->
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>